html

body {
      background: url(https://pbs.twimg.com/profile_images/1432910936/peg333333.JPG);
      background-size: 100%;
      background-repeat: no-repeat;
      font-family:Impact;
      color:red;
     }

h1 {font-size: 60px;
	text-align: center;


	}

h2 {font-size:  50px;
	text-align: center;

	}

h3 {font-size: 45;
	text-align: center;
	}
