html

body {
      background: url(http://7-themes.com/data_images/out/49/6937041-white-lamborghini-lp700.jpg);
      background-size: 50%;
      background-repeat: no-repeat;
      font-family:Impact;
      color:red;
     }

h1 {font-size: 60px;
	text-align: center;


	}

h2 {font-size:  50px;
	text-align: center;

	}

h3 {font-size: 45;
	text-align: center;
	}
